<div class="container">

    <h3>Messages</h3>
    <br>

    <div class="row" *ngFor="let message of this.messageData; let i = index">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{message.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{message.email}}</h6>
              <p class="card-text">{{message.message}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
