<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <!-- avatar -->
            <div class="admin-avatar text-center">
                <img src="../../assets/images/admin-avatar.png" alt="avatar" width="150">
                <h4 
                    style="
                    color: aliceblue;
                    text-transform: uppercase;
                    font-weight: bold;"
                >{{this.adminName}}</h4>
            </div>
            <a routerLink="/admin/admin-profile" routerLinkActive="selected" class="list-item">
                <!-- <i class="material-icons">bookmark_border</i> -->
                <i class="fa fa-pencil material-icons"></i>
                Edit Profile
            </a>
            <a routerLink="/admin/add-animals" routerLinkActive="selected" class="list-item">
                <i class="fa fa-plus-circle material-icons"></i>
                Add Animal Details
            </a>
            <a routerLink="/admin/view-animals" routerLinkActive="selected" class="list-item">
                <i class="fa fa-eye material-icons"></i>
                View Animal Details
            </a>
            <a routerLink="/admin/view-messages" routerLinkActive="selected" class="list-item">
                <i class="fa fa-eye material-icons"></i>
                View messages
            </a>
            <a onclick="
                if(window.confirm('Are you sure to Logout?')) {
                    
                }" 
                routerLink="/" class="list-item">
                <i class="fa fa-aarrow-up-left-square material-icons"></i>
                Log Out
            </a>

        </div>
    </div>

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
    
</div>