<div id="home">
  <!-- navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">ZOO MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#animals">Animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Image slider -->
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide="1" ></li>
      <li data-target="#carouselIndicators" data-slide="2" ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- slide 1 -->
      <div class="carousel-item active " style="background-image: url(../../assets/images/wp3793385-zoo-animals-wallpapers.jpg);">
        <div class="carousel-caption text-center">
          <h1>Welcome to Zoo System</h1>
          <h3>Write something here</h3>
          <a class="btn btn-outline-light btn-lg" href="#animals">Click Here</a>
        </div>
      </div>

      <!-- add slides here -->
    </div>
    <!-- previous and next buttons for slider -->
    <div class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <div class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
  </div>

</div>
